@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 56, 84, 166;
    --secondary: 234, 234, 234;
    --accent-orange: 242, 158, 56;
    --accent-grey: 207, 204, 199;
  }

  html,
  body {
    @apply font-poppins m-0 leading-normal min-h-screen h-screen;
    font-size: 16px;
  }

  @screen xl {
    html,
    body {
      font-size: 18px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-tight;
  }

  input:invalid ~ span {
    display: block;
  }
}
